src/main/mule/mule-demo6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c011617b-5da8-432e-8367-fa6cfe728236" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-demo6Flow" doc:id="0670f01a-e7f8-479d-bd77-3e3a72dbdbfa" >
		<http:listener doc:name="Listener" doc:id="9ce1fa27-5502-473b-9669-15ad3cca0362" config-ref="HTTP_Listener_config" path="/demo6"/>
		<set-payload value='#["Mule"]' doc:name="Set Payload" doc:id="6df3e1a2-f73b-4b61-a633-b7f62a82160c" />
	</flow>
</mule>
